---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE } from "@config";
import { Image } from "astro:assets";
import ProfileImage from "@assets/sillyangel.jpg";
const posts = await getCollection("blog");
const projects = await getCollection("projects");

const sortedPosts = getSortedPosts(posts);
const sortedProjects = projects.sort(
  (a, b) => new Date(b.data.pubDatetime) - new Date(a.data.pubDatetime)
);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
const recentProjects = sortedProjects.slice(0, 5);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <div class="hero-content">
        <Image
          src={ProfileImage}
          alt="github profile"
          width={200}
          height={200}
          style="border-radius: 4%;"
          loading="eager"
        />
        <div class="hero-text">
          <h1>about me</h1>
          <p>
            im a weird 14 year old, that loves playing around with code, and
            creating dumb things, and I'm self-taught; but suck at explain it to
            others.
          </p>
        </div>
      </div>
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < SITE.postPerIndex && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    {
      recentProjects.length > 0 && (
        <section id="recent-projects">
          <h2>Recent Projects</h2>
          <ul>
            {recentProjects.map(({ data, slug }) => (
              <Card
                href={`/projects/${slug}/`}
                frontmatter={data}
                secHeading={false}
              />
            ))}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  .hero-content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
  }

  @media (max-width: 600px) {
    .hero-content {
      flex-direction: column;
      align-items: center;
    }

    .hero-text {
      margin-left: 0;
      text-align: center;
    }
  }
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts,
  #recent-projects {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2,
  #recent-projects h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
